@import "compass/css3";
$experimental-support-for-svg: true;

/*
    So you like the style of impress.js demo?
    Or maybe you are just curious how it was done?
    
    You couldn't find a better place to find out!
    
    Welcome to the stylesheet impress.js demo presentation.
    
    Please remember that it is not meant to be a part of impress.js and is
    not required by impress.js.
    I expect that anyone creating a presentation for impress.js would create
    their own set of styles.
    
    But feel free to read through it and learn how to get the most of what
    impress.js provides.
    
    And let me be your guide.
    
    Shall we begin?
*/


/* 
    We start with a good ol' reset.
    That's the one by Eric Meyer http://meyerweb.com/eric/tools/css/reset/ 
    
    You can probably argue if it is needed here, or not, but for sure it
    doesn't do any harm and gives us a fresh start.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
  font-family: 'PT Sans', sans-serif;
  min-height: 740px;
  @include background(
      radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190))
  );
}

b, strong {
  font-weight: bold; 
}

i, em {
  font-style: italic; 
}

a {
  color: inherit;
  text-decoration: none;
  padding: 0 0.1em;
  background: rgba(255, 255, 255, 0.5);
  text-shadow: -1px -1px 2px rgba(100, 100, 100, 0.9);
  border-radius: 0.2em;
  @include single-transition(0.5s);
  &:hover, &:focus {
    background: rgba(255, 255, 255, 1);
    text-shadow: -1px -1px 2px rgba(100, 100, 100, 0.5); 
  } 
}

.fallback-message {
  font-family: sans-serif;
  line-height: 1.3;
  width: 780px;
  padding: 10px 10px 0;
  margin: 20px auto;
  border: 1px solid #E4C652;
  border-radius: 10px;
  background: #EEDC94;
  p {
    margin-bottom: 10px; 
  } 
}

.impress-supported .fallback-message {
  display: none; 
}

.step {
  position: relative;
  width: 900px;
  padding: 40px;
  margin: 20px auto;
  @include box-sizing(border-box);
  font-family: 'PT Serif', georgia, serif;
  font-size: 48px;
  line-height: 1.5; 
}

.impress-enabled .step {
  margin: 0;
  opacity: 0.3;
  @include single-transition(opacity 1s);
  &.active {
    opacity: 1; 
  } 
}


.slide {
  display: block;
  width: 900px;
  height: 700px;
  padding: 40px 60px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: rgb(102, 102, 102);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -1px;
  q {
    display: block;
    font-size: 50px;
    line-height: 72px;
    margin-top: 100px;
    strong {
      white-space: nowrap; 
    } 
  } 
}

/* Styling for presentation page */
#title {
  padding: 0;
  h1 {
    font-size: 190px;
    @include translateZ(50px);
  }
  .footnote {
    font-size: 32px; 
  } 
}


.big {
  width: 600px;
  text-align: center;
  font-size: 60px;
  line-height: 1;
}

.tiny {
    text-align: center;
}

.small{
    font-size:0.6em;
    line-height:1.2em;
    margin-bottom:25px;
}

.center{
    text-align:center;
}

.center{
    text-align:center;
}

code{
  display:block;
  font-size:0.5em !important;
  border:2px solid #ddd;
  background-color:#333;
  color:#fff;
  padding:20px;
  -webkit-font-smoothing:auto;
  margin:10px 0;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  background-clip:padding-box;
  font-family: Monaco,"DejaVu Sans Mono","Courier New",monospace;
  -webkit-border-radius: 10px;    
  border-radius: 10px;
  span{
    color:#ccc;
    display:block !important;
    margin-top:15px;
  }
  em{
    color:#F9FE64;
  }
  strong{
    color:#CC0E2E;
  }

  .slide &{
    line-height:1.5em;
    font-size:22px !important;
  }
}



#overview {
  display: none; 
}

.impress-on-overview .step {
  opacity: 1;
  cursor: pointer; 
}

.hint {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 200px;
  background: rgba(0, 0, 0, 0.5);
  color: #EEE;
  text-align: center;
  font-size: 50px;
  padding: 20px;
  z-index: 100;
  opacity: 0;
  @include translateY(400px);
  @include transition(opacity 1s, transform 0.5s 1s);
}

.impress-enabled .hint {
  display: block; 
}


.impress-on-bored .hint {
  opacity: 1;
  @include translateY(0px);
  @include transition(opacity 1s 5s, transform 0.5s 4.5s);
}

.impress-enabled {
  pointer-events: none;
  #impress {
    pointer-events: auto; 
  } 
}